on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
      - '[0-9]+.[0-9]+.[0-9]+-rc.[0-9]+'

name: ci-tag

env:
  DOTNET_VERSION: 9.0.x
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository_owner }}/api

jobs:

  # Delegate building and containerizing to a single workflow.
  build-and-containerize:
    uses: ./.github/workflows/ci-build.yml
  
  release:
    runs-on: ubuntu-latest
    needs: build-and-containerize

    steps:
      - name: Download release notes
        uses: actions/checkout@v4
        with:
          sparse-checkout: |
            README.md
      
      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          body_path: README.md
          tag_name: ${{ github.ref_name }}
          prerelease: ${{ contains(github.ref_name, '-rc') }}